<form (ngSubmit)="guardar(forma)" #forma="ngForm"  >
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" class="form-control" id="exampleInputEmail1" 
    aria-describedby="emailHelp"
     placeholder="Nombre"
     name="nombre"
    [(ngModel)]="creoHeroe.nombre"
     >
    
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">bio:</label>
    <input type="text" class="form-control" id="exampleInputEmail1"
     aria-describedby="emailHelp"
      placeholder="Bio"
      name="bio"
    [(ngModel)]="creoHeroe.bio">
    
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Aparicion</label>
    <input type="text" class="form-control" id="exampleInputEmail1" 
    aria-describedby="emailHelp" 
    placeholder="Aparicion"
    name="aparicion"
    [(ngModel)]="creoHeroe.aparicion"
    >
    
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Casa</label>
    <input type="text" class="form-control"
     id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Casa"
      name="casa"
    [(ngModel)]="creoHeroe.casa"
    >
    
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Imagen</label>
    <input type="text" class="form-control" 
    id="exampleInputEmail1" aria-describedby="emailHelp"
     placeholder="Imagen"
     name="img"
    [(ngModel)]="creoHeroe.img">
    
  </div>
 
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>