<div class="card-columns">
<div class="card" style="width: 18rem;margin-top:
 15px" *ngFor="let heroe of heroes,let i=index">
 
  <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
  <div class="card-body">
    <h5 class="card-title">{{heroe.nombre}}</h5>
    <p class="card-text">{{heroe.bio}}</p>
 <!--   <a [routerLink]="['/heroe',i]" class="btn btn-primary">mas info</a>-->
 <button type="button" (click)="verHeroe(i)" class="btn btn-primary" >ver mas</button> 
</div>
</div>
</div>
