<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <!--<a class="navbar-brand" href="#">Navbar</a>--> 
 <img src="../../../../assets/images/A-64.png"
  width="30" height="30" >

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['crearheroe']">Crear Heroe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
     
     
    </ul>
   <!-- <form class="form-inline my-2 my-lg-0"> -->
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar Heroe" aria-label="Search" (keyup.enter)="buscarHeroe(buscarTexto.value)" #buscarTexto>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buscarHeroe(buscarTexto.value)">Search</button>
   <!-- </form>-->
  </div>
</nav>